<div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
        <div class="navbar-text">
           <p><a  href="/">© 2017 www.beautyvn.shop</a></p>
        </div>
    </div>
</div>
